<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informe</title>
</head>
<body>
    <h1>Informe</h1>
    <table>
        <thead>
            <tr>
                <th>Visitador</th>
                <th>Gasto</th>
                <th>Importe total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="informe: ${informes}">
                <td th:text="${informe[0].nombre}"></td>
                <td th:text="${informe[1]}"></td>
                <td th:text="${informe[2]}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Volver al inicio</a>
    
</body>
</html>